/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 16, 2014, 1:34:49 PM
    Author     : josh
*/

h1{
    color: darkcyan;
    background: linear-gradient(to right, white, lightblue);
    padding: 1em;
}
ol li {
    display: inline;
    background-color: limegreen;
    color: white;
    padding: 1px;
    font-size:30px;
    width: 100%;
    word-wrap:break-word;
}

/* Make post names large. */
.post-name {
  font-size: 24pt;
}

/* Make post authors blue. */
.post-author {
  color: blue;
}

/* Make post content green. */
.post-content {
  color: green;
}

/* The below CSS gets applied on devices with small screens. */
@media (max-width: 980px) {
 
  /* Reduce the margin. */
  body {
    margin: 0px ;
  }
 
  /* Make the post content larger. */
  .post-content {
    font-size: 18pt ;
  }
}
